.tracklist-container{
	padding: 2rem;
	width: 100%;
}

.track {
	background-color: white;
	margin: 2px;
	height: 5rem;
	display: flex;
	align-items: center;
	width: 50vw;
	margin-right: 2.5rem;
}

span {
	color: white;
	background-color: black;
}